body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    overflow: hidden;
}

header .left{
    display: flex;
}
header .left img{
    margin-left: 5px;
}
header .left ul {
    display: flex;
    list-style: none;
}
header li{
    padding: 5px;
    color: black;
    font-weight: bold;

}
header .left a{
    margin-left: 10px;
    margin-right: 10px;
}
header a{
    text-decoration: none;
}

header .right ul{
    display: flex;
    list-style: none;
    position: relative;
    top: -60px;
    right: -85%;
}
header hr{
    margin-top: -70px;
}


.right img{
  width: 350px;
  height: 450px;
}
section{
    display: flex;
    gap: 5%;
}

.left h1{
    font-size: 55px;
    margin: 100px 0px 0px 40px;
}
.left p{
    margin-left: 40px;
    margin-top: 0px;
    font-weight: 100%;
}
.banner-btn-box{
    margin-left: 40px;
}
.start-btn{
    border: 10px solid rgb(149, 149, 237);
    background-color: rgb(152, 152, 233);
    border-radius: 20px;
    color: beige;
    font-weight: 100%;
}

.signup-btn{
    border: 2px solid rgb(201, 201, 201);
    padding: 2px 2px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
footer{
    display: flex;
}
footer .external a{
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer .copyright{
    position: relative;
    right: -62%;
    font-weight: 100%;
}
   











 
   
   /* header ul{
    display: flex;
   }     
   header{
    align-items: end;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px black  ;
   }
   header .left{
    display: flex;
   }

 a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0px 15px;
    font-weight: bold;
   }
   header img{
    margin-left: 5px;
   }

   header .right{
    position: relative;
    right: -45%
   }

   section{
    display: flex;
    justify-content: space-between;
   }

   section img{
    width: 400px;
    margin: 400px;
   }
 */
